<h1>Search Results</h1>
<table>
  <tbody>
      <% for user in @users %>
      <tr>
        <div class="">
          <td>
            <strong> <%= user.first_name %> <%= user.last_name %></strong>
          </td>
          <td>
            <%= link_to 'Go to Profile', user_path(user) %>
          </td>
        </div>
      </tr>
      <% end %>
  </tbody>
</table>
