<h1>Search Results</h1>
<table class="search-results">
  <tbody >
      <% for user in @users %>
        <tr>
          <td>
            <%= user.first_name %> <%= user.last_name %>
          </td>
          <td>
            <%= link_to 'Go to Profile', user_path(user) %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
