<section id="about">
  <%= image_tag "castle.png" %>
  <p>
    <strong>Charity Spree</strong> is the most fun way to donate money. Unlock achievements while contributing to a great cause, then share your rewards on Facebook or Twitter. Challenge friends and family to give or get your colleagues and employers involved. Whatever way you give, we want you to enjoy doing it.
  </p>
  <p>
    Every charity on <strong>Charity Spree</strong> is backed by <a target="_blank" href="https://www.givewell.org/charities/top-charities">GiveWell</a>, so you can feel secure that your money is going to the right place.
  </p>
</section>