<section id="about">
  <%= image_tag "castle.png" %>
  <p>
    <strong>Charity Spree</strong> is <em>the most fun way</em> to give money. You'll unlock achievements for your donations while contributing to a great cause. Challenge friends and family to give, or team up and collect achievements as a team.
  </p>
  <p>
    Every charity on <strong>Charity Spree</strong> is backed by <a target="_blank" href="https://www.givewell.org/charities/top-charities">GiveWell</a>, so you can feel secure that your money is going to the right place.
  </p>
</section>