main section.charities-index {
  margin: auto;

  section.title-logo {
    font-family: Pacifico;
    text-align: center;
    padding: 20px 0;
    color: #000;

    h1 {
      font-size: 125px;
      margin: 0;
    }

    p {
      margin-top: 20px;
      font-size: 50px;
    }

    img {
      margin-top: 40px;
      height: 200px;
    }
  }

  section#description {
    text-align: center;
    margin: 0;
    padding-top: 100px;
    background-color: #F3F7F6;

    .site-flow {
      background-color: #fff;
      margin: 0 150px;
      margin-bottom: 100px;
      padding: 75px 25px;
      border: 1px solid #fff;
      border-radius: 10px;
      box-shadow: 0 10px 6px -6px #777;
    }

    img {
      height: 40px;
    }

    h3 {
      font-family: Pacifico;
      font-size: 30px;
      padding: 10px 0;
    }
  }

  .btn-primary {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  .btn-default {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  button {
    margin: 32px auto;
    display: block;
    border: none;

    .glyphicon-triangle-bottom {
      font-size: 50px;
      padding-bottom: 30px;
    }

    .first {
      color: #00CAB8;
    }

    .second {
      margin: 0 auto;
      color: #00CAB8;
    }
  }

  section#charities-list {
    background-color: #89bdd3;
    margin: 0;

    header.section-header {
      border: 1px solid #000;
      text-align: center;
      padding: 50px 0;

      h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 0;
      }
    }

    .charity-container {
      padding: 100px 0 240px 0;
      font-family: 'Open Sans', sans-serif;

      h3  {
        font-weight: bold;
      }

      .choose {
        text-align: left;
        margin: 0;

        a{
          color: #000;
        }
      }
    }
  }
}

main section.charities-show {

  section.charity {
    background-color: #89bdd3;
    border: 1px solid #000;
    float: left;
    width: 50%;
    text-align: justify;
    margin-left: 50px;
    margin-top: 40px;
    padding: 35px 35px;

    .charity-name {
      margin-bottom: 30px;
      font-family: Pacifico;
      font-size: 50px;
      text-decoration: underline;
    }

    .choose {
      font-size: 20px;
      float: right;

      a{
        color: #000;
      }
    }
  }

  section.achievements-legend {
    background-color: #89bdd3;
    display: inline-block;
    text-align: justify;
    float: right;
    width: 20%;
    border: 1px solid #000;
    margin-top: 40px;
    margin-right: 50px;
    padding: 10px 10px;

    img {
      height: 20px;
    }
  }
}

main section#about {
  text-align: center;
  margin: 5% 20%;

  p {
    text-align: justify;
    margin: 30px 0;
    font-family: Helvetica;
    font-size: 20px;
  }

  img {
    height: 300px;
  }
}
