// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-danger: #456;
$bg-danger:  #ccc;
$gray-base: #fff;

#user-form {
  margin: 140px auto;
  background-color: #F3F7F6;
  border-radius: 10px;
  border: 1px solid #D1E4E0;

  .form-control {
    background-color: #fff;
  }


  #tabs {
    margin-top: -40px;
  }

    .tabs {
    }

    .nav-pills > li > a {
      border-radius: 4px 4px 0 0 ;
    }

    .tab-content {
      background: #F3F7F6;  /* fallback for old browsers */
      width: 100%;
      height: auto;
      border-top: 1px solid #e5e9f0;
      margin: 0 auto;
      padding: 20px 20px;
    }
  }