// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  border: 1px solid #000;
}
main section#profile {
  img.gravatar {
    height: 150px;
    margin: 0 auto;
    display: block;
  }

  h1  {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .user-stats-btn {
    text-align: right;
  }

  .pick-charity-btn {
    text-align: right;
  }

  .update-btn {
    text-align: right;
  }
}