$brand-danger: #456;
$bg-danger:  #ccc;
$gray-base: #fff;
$bg-general: #3BF1D7;

main section#profile {
  height: 200px;
  margin-top: -45px;

  .edit-cog {
    position: absolute;
    bottom: 0;
    right: 0;

    &:focus {
      outline: none;
    }
  }

  .update {
    position: relative;
    float: right;
    background-color: transparent;
    border: none;

    &:focus{
      outline: none;
    }

    img {
      height: 30px;
    }
  }

  .profile-header{
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 375px;
    background-repeat: no-repeat;

    img.avatar {
      height: 200px;
      width: 200px;
      margin: 20px auto;
      display: block;
      border: 5px solid #fff;
      border-radius: 100%;
      box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
    }

    h1  {
      font-family: 'Open Sans', sans-serif;
      margin-top: 5px;
      font-size: 40px;
      font-weight: 300;
      text-align: center;
    }

    #featured-achievement {
      background-color: #f6f6f6;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      width: 350px;

      h3 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
      }

      h4 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;

        img {
          height: 50px;
          float: none;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

#featured-achievement-mail {
      background-color: #f6f6f6;
}

  #tabs {

    margin-top: 30px;
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover {
       background-color: #3BF1D7;
    }

    .tabs {
      margin-left: 70px;
    }

    .nav-pills > li > a {
      border-radius: 4px 4px 0 0 ;
    }

    .tab-content {
      background: #f6f6f6;
      border: 1px solid #e0e0e0;
      // height: 1500px;
      border-radius: 10px;
      margin: 0 auto;
      padding: 5% 5%;
      align-content: center;

      .achieved {
        width: 100%;

        h3 {
          font-family: 'Open Sans', sans-serif;
          text-align: center;
          margin-top: 0;
        }
        .achievement-icon  {
          text-align: center;
        }
        .achievement-title {
          font-size: 10px;
        }

        .achievement-description {
          font-size: 10px;
        }

        .achievement-icon img {
          text-align: center;
          // height: 40px;
        }
      }

      .upcoming {
        // display: inline-block;
        // float: right;
        width: 100%;
        // margin: 20px 0;
        border-left: 1px solid #dcdfe5;
        .achievement-icon {
          text-align: center;
          // height: 40px;
        }
        h3 {
          font-family: 'Open Sans', sans-serif;
          text-align: center;
          margin-top: 0;
        }
      }
    }
  }


  .options {
    border-bottom: 1px solid #000;
    padding-bottom: 30px;

    .user-stats-btn {
      text-align: right;
    }

    .pick-charity-btn {
      text-align: right;
      a {
        color: #fff;
      }
    }

    .update-btn {
      text-align: right;
    }
  }
}

.search-results {
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
}



.field_with_errors{

  background-color: $bg-danger;
  border-color: $brand-danger;
  color: $gray-base;
  font-weight: 500;

}


// SEARCH RESULTS
.result-bg {
  background: url(memphis-colorful.png);  /* fallback for old browsers */
  height: auto;
  margin-top: -40px;
  padding: 20px 20px;
}

  .result-container {
    border: 1px solid #D1E4E0;
    background: #F3F7F6;
    border-radius: 10px;
    margin: 20px 25%;
    padding: 20px 0;
    h1 {
      font-family: 'Open Sans';
      text-align: center;
    }
    .search-results {
      margin: 0 auto;
      font-size: 20px;

    }
  }


  .result-name {
    font-family: 'Open Sans';
    color: #000;
    margin-left: 15px;
  }

  .result-name:hover {
    text-decoration: none;
    // color: #00CAB8;
    text-shadow: 1px 1px 2px #c0c3bb;
    color: #000;
  }

  .result-avatar {
    height: 75px;
    width: 75px;
    margin: 10px auto;
    display: block;
    border: 2px solid #555;
    border-radius: 100%;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

// *END* SEARCH RESULTS

.userform{
  background-color: $bg-general;
}


.errormsg {
  background-color: #f00;
  border-color: $brand-danger;
  color: #fff;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.form-control {
background-color: #fff;
}

