// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main section#profile {
  background-color: #FFFFEF;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  padding: 40px 40px;
  box-shadow: 0 10px 6px -6px #777;

  img.gravatar {
    height: 200px;
    margin: 0 auto;
    display: block;
  }

  h1  {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-weight: bold;
  }

  .user-stats-btn {
    text-align: right;
  }

  .pick-charity-btn {
    text-align: right;
  }

  .update-btn {
    text-align: right;
  }

  .achievement-icon {
    height: 30px;
  }

  .achievement-title {
    font-size: 20px;
  }

  .achievement-description {
    font-size: 20px;
  }

  .achieved {
    margin: 25px 0;
  }

  .upcoming {
    margin: 25px 0;
  }
}